.route {
  margin: -10px -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 20px;
  background: #3887be;
  pointer-events: none;
}
#hide {
  color: white;
	width: 80px;
	height: 30px;
	border: 1px;
	border-radius: 10%;
	display: block;
	left: 2px;
	top: 2px;
	background-color: #A93226;
	position: absolute;	
}

#instructions {
  position: absolute;
  display: none;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  font-family: sans-serif;
}

#origin {
	position: absolute;
	height: 40px;
	display: inline-block;
	width: 100px;
	left: 50%;
	top: 2%;
	z-index: 1;
	background-color: "Antiquewhite";
}

#destination {
	position: absolute;
	display: inline-block;
	height: 40px;
	width: 100px;
	left: 50%;
	top: 6%;
	z-index: 1;
	background-color: "Antiquewhite";
}
.active{
	position: absolute;

	height: 30px;
	width: 60px;
/*	right: 60%;
*/	top: 100px;
	z-index: 1;
	background-color: #3386c0;
}
/*#searchboxes {
	position: absolute;
	height: 50px;
	width: 105px;
	left: 50%;
	z-index: 1;
}*/

.btn-control {
    font:bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 1;
    border: none;
    width: 200px;
    margin-left:-100px;
    display: block;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
}

.btn-control:hover {
    background-color: #4ea0da;
}

#myModal {
	position: relative;
	background-color: #996633;
	height: 300px;
	width: 550px;
	top: 50%;
	left: 24%;
	z-index: 1
} 
.modal-body p {
	color: white;
}

.headsection p {
	color: white;
}

.modal-backdrop {
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index: 0.5;
 background-color: #333333;
 opacity:0.8; // I ADDED THIS LINE
   }

#Router {
	font:bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 90%;
    z-index: 1;
    border: none;
    width: 200px;
    margin-left:-100px;
    display: block;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
}

.slides {
  /*transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);*/
}
.container {
height: 100px;
width: 260px;
margin-left: 40px;
opacity: 0;
}

.container:hover {
opacity: 1;
}
.map-overlay {
    font:bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
/*    position: absolute;
*/    top: 9px;
    left: 0;
    padding: 10px;
    display: block;

}

.map-overlay .map-overlay-inner {
/*    background-color: #fff;
*/    /*top: 9px;*/
    /*box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);*/
    border-radius: 3px;
    padding-right: 10px; 
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.map-overlay label {
    display: block;
    color: white;
    margin: 0 0 10px;
    position: relative;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

/**/
.rmap-overlay {
    font:bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
/*    position: absolute;
*/    
    left: 0;
    padding: 10px;
    display: block;
}

.rmap-overlay .rmap-overlay-inner {
/*    background-color: #fff;
*/    /*box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);*/
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.rmap-overlay label {
    display: block;
    color: white;
    margin: 0 0 10px;
    position: relative;
}

.rmap-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}



input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #94A14E),
        color-stop(0.15, #000000)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #000000;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
}