.route {
  margin: -10px -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 20px;
  background: #3887be;
  pointer-events: none;
}
#hide {
	width: 15px;
	height: 10px;
	border: 1px;
	border-radius: 10%;
	left: 2px;
	top: 2px;
	background-color: #A93226;
	position: absolute;	
}

#instructions {
  position: absolute;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  font-family: sans-serif;
}

#origin {
	position: absolute;
	height: 40px;
	display: inline-block;
	width: 100px;
	left: 50%;
	top: 2%;
	z-index: 1;
	background-color: "Antiquewhite";
}

#destination {
	position: absolute;
	display: inline-block;
	height: 40px;
	width: 100px;
	left: 50%;
	top: 6%;
	z-index: 1;
	background-color: "Antiquewhite";
}
#toggle{
	position: absolute;
	/*height: 30px;
	width: 20px;
*/	right: 60%;
	top: 2%;
	z-index: 1;
	background-color: "Black";
}
/*#searchboxes {
	position: absolute;
	height: 50px;
	width: 105px;
	left: 50%;
	z-index: 1;
}*/

.btn-control {
    font:bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 1;
    border: none;
    width: 200px;
    margin-left:-100px;
    display: block;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
}

.btn-control:hover {
    background-color: #4ea0da;
}